@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

 /*Header*/

 header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top 0.3s;
}

.header-hidden {
    top: -100px;
}

/*Main*/

.container--animation {
  margin-left: 2em;
  height: fit-content;
}

/*Animations - FirstSection*/

.animation--balancgate {
  font-size: 7em;
  font-weight: bold;
  color: black;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 1s ease-in-out forwards; /*js*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} 

.img--flower {
  margin-top: 10em;
  animation: slide-up-flower 1s ease-in-out forwards; /*js*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: rotate(-45deg);
}

.animation--gate {
  animation: slide-up 1s ease-in-out forwards; /*js*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: .5;
  }
  70% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Flower*/

@keyframes slide-up-flower {
  0% {
    opacity: 0;
    transform: translateY(50px) rotate(-45deg); /* Start: posunutí a fixní rotace */
  }
  50% {
    opacity: 0.5;
  }
  70% {
    transform: translateY(-2px) rotate(-45deg); /* Lehké předskočení */
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(-45deg); /* Konec: výchozí poloha, fixní rotace */
  }
}


.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/*Button*/

.butt {
  background-color: #7A746D;
  transition: 0.5s all;
  animation: slide-up 1s ease-in-out forwards; /*js*/
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.butt:hover {
  background-color: #5c5853;
}


.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;
}

.light .list-disc li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #1a202c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

/*Slider*/

.slider {
  -webkit-box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
  -moz-box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
  box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
}

.butt1 {
  background-color: #7A746D;
  transition: 0.5s all;
  left: 50%;
  transform: translate(-50%);
}

.butt1:hover {
  background-color: #5c5853;
}

/*Responsive*/

@media (min-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 28px;
    }
}