/*Header*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top 0.3s;
}

.header-hidden {
    top: -100px;
}

/*Main*/

/* Základní nastavení pro fadeIn animaci */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  animation: fadeIn 1.5s forwards; /* forwards zajistí, že se vlastnosti animace zachovají po dokončení */
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/*Button*/

.butt {
  background-color: #7A746D;
  transition: 0.5s all;
}

.butt:hover {
  background-color: #5c5853;
}


.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;
}

.light .list-disc li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #1a202c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

/*Slider*/

.slider {
  -webkit-box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
  -moz-box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
  box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
}

.butt1 {
  background-color: #7A746D;
  transition: 0.5s all;
  left: 50%;
  transform: translate(-50%);
}

.butt1:hover {
  background-color: #5c5853;
}

/*Responsive*/

@media (min-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 28px;
    }
}







