@import url(normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap);

/*Presets*/

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: 'Outfit', sans-serif;
  overscroll-behavior: none;
}

@media screen and (min-width: 640px) {
  body {
    background-image: url(https://static.wixstatic.com/media/11062b_74c3bd45471e49a7a0c85a0953bc8149~mv2_d_5478_3652_s_4_2.jpg/v1/fill/w_1899,h_858,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_74c3bd45471e49a7a0c85a0953bc8149~mv2_d_5478_3652_s_4_2.jpg);
  }
}

@media  screen and (min-width: 640px) {
  .all-width--fix {
      width: 90%;
      margin-left: 5%;
  }
}

/*Header*/

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top 0.3s;
}

.header-hidden {
    top: -100px;
}

/*Main*/

/*Services-animations*/

.animation-item--1, .animation-item--2, .animation-item--3, .animation-item--4, .animation-item--5, .animation-item--6 {
  opacity: 0;
} 

/*Delay*/

.animation-item--1.animate, .animation-item--2.animate, .animation-item--3.animate, .animation-item--4.animate, .animation-item--5.animate, .animation-item--6.animate {
  animation: slide-up .5s ease-in-out forwards;
}

/*About-animations*/

.animation--text, .animation--vzdelani, .animation--vzdelani--img, .animation--muj-pristup, .animation--muj-pristup--img {
  opacity: 0;
}

/*Delay*/

.animation--text, .animation--vzdelani.animate, .animation--vzdelani--img.animate, .animation--muj-pristup.animate, .animation--muj-pristup--img.animate {
  animation: slide-up 0.5s ease-in-out forwards;
}

/*Animations*/

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}