@import url(normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap);

/*Presets*/

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: 'Outfit', sans-serif;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

@media screen and (min-width: 640px) {
  body {
    background-image: url(https://static.wixstatic.com/media/11062b_74c3bd45471e49a7a0c85a0953bc8149~mv2_d_5478_3652_s_4_2.jpg/v1/fill/w_1899,h_858,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_74c3bd45471e49a7a0c85a0953bc8149~mv2_d_5478_3652_s_4_2.jpg);
  }
}

@media  screen and (min-width: 640px) {
  .all-width--fix {
      width: 90%;
      margin-left: 5%;
  }
}

/*Button*/

.button--welcome {
  opacity: 0;
  background-color: #7A746D;
  transition: .5s all;
}

.button--welcome:hover {
  background-color: #5c5853;
}

 /*Header*/
 
body > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: top 0.3s;
}

.header-hidden {
    top: -300px;
}

/*Main*/

main {
  flex-grow: 1;
}

.container--animation {
  margin-left: 2em;
  height: fit-content;
}

/*Animations - FirstSection*/

.animation--balancgate {
  font-size: clamp(2em, 5vw, 7em);
  font-weight: bold;
  color: black;
  opacity: 0;
  transform: translateY(20px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
} 

.img--flower {
  opacity: 0;
  margin-top: 7em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: rotate(-45deg);
  max-width: 100%;
  height: auto;
}

.animation--gate {
  font-size: clamp(1em, 3vw, 2em);
  opacity: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/*Delay*/

.animation--balancgate.animate, .animation--gate.animate, .button--welcome.animate {
  animation: slide-up .5s ease-in-out forwards;
}

.img--flower.animate {
  animation: slide-up-flower .5s ease-in-out forwards;
}

/*Animations*/

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: .5;
  }
  70% {
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Flower*/

@keyframes slide-up-flower {
  0% {
    opacity: 0;
    transform: translateY(50px) rotate(-45deg);
  }
  50% {
    opacity: 0.5;
  }
  70% {
    transform: translateY(-2px) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(-45deg);
  }
}

/*Responsive - FirstSection*/

@media screen and (max-width: 768px) {
  .welcome-section {
    flex-wrap: wrap;
  }

  .img--flower {
    transform: rotate(90deg);
    max-width: 60%;
    margin: -16em auto;
  }

  .img--flower.animate {
    animation: slide-up .5s ease-in-out forwards;
  }

  .container--animation {
    margin: 8em auto;
  }
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;
}

.light .list-disc li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #1a202c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

/*Slider*/

.slider {
  -webkit-box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
  -moz-box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
  box-shadow: 0px -6px 30px -10px rgba(122,116,109,1);
}

.button--slider {
  background-color: #7A746D;
  transition: 0.5s all;
  left: 50%;
  transform: translate(-50%);
}

.button--slider:hover {
  background-color: #5c5853;
}

/*Responsive*/

@media (min-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 28px;
    }
}